@import url("https://fonts.googleapis.com/css?family=Hind:400,700|Open+Sans:400,700");

$white: rgb(255, 255, 255);
$white-hover: rgb(205, 205, 205);
$black: rgb(0, 0, 0);
$gray: rgba(0, 0, 0, 0.3);
$orange: rgb(254, 205, 24);
$blue: rgb(33, 90, 175);
$light-blue: rgb(62, 189, 218);
$blue-gradient: linear-gradient(to top right, $blue, $light-blue);

$font-default: sans-serif;
$font-paragraph: "Open Sans", sans-serif;
$font-head: "Hind", "Open Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font-paragraph;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  position: fixed;

  #root {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;

    .App {
      position: relative;

      .linearBackground {
        height: 100vh;
        width: 100vw;
        background-color: #4a90d8;
        background-image: linear-gradient(to bottom, #2f6ca8, #78cade 70%);
        display: flex;
        align-items: flex-end;

        .sun {
          position: absolute;
          top: 5vh;
          right: 5vh;
          width: 106.3px;
          height: 106.3px;
          animation: sun 25s infinite linear;
          @keyframes sun {
            from {
              transform: rotate(0deg) scale(1.2);
            }
            to {
              transform: rotate(-360deg) scale(1.2);
            }
          }
        }

        .cloud {
          position: absolute;
          left: 100%;
          width: 180.1px;
          height: 82.3px;

          &.cloud1 {
            top: 15vh;
            animation: cloud1 70s infinite linear;
            @keyframes cloud1 {
              from {
                transform: translateX(200vw);
              }
              to {
                transform: translateX(-200vw);
              }
            }
          }
          &.cloud2 {
            top: 24vh;
            animation: cloud2 55s infinite linear;
            @keyframes cloud2 {
              from {
                transform: translateX(200vw);
              }
              to {
                transform: translateX(-200vw);
              }
            }
          }
        }

        .plane {
          position: absolute;
          top: calc(50% - (125px / 2));
          left: 7.5vw;
          width: 285px;
          height: 125px;
          animation: plane 5s infinite ease-in-out alternate;
          @keyframes plane {
            from {
              transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  10,
                  10,
                  0,
                  1
                )
                scale(1.35);
            }
            to {
              transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  -20,
                  -30,
                  0,
                  1
                )
                scale(1.4);
            }
          }
        }

        .clouds {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 201px;
          width: 100%;
          transform: scaleY(1.6);
        }

        > svg.Background {
          position: relative;
          // height: 100%;
          width: 100%;
          display: block;
          > g.loop > g.mountains {
            animation: mountains 80s infinite linear;
            @keyframes mountains {
              from {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1
                );
              }
              to {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  -1400,
                  0,
                  0,
                  1
                );
              }
            }
          }
        }
      }

      .Countdown {
        position: absolute;
        top: -50px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        z-index: 2;
        .title {
          font-family: $font-head;
          font-weight: 700;
          font-size: 5vw;
          text-align: center;
          color: $white;
          background: transparent;
          border: none;
          outline: none;
        }
        .Clock {
          display: flex;
          justify-content: center;
          .outer {
            margin: 0 0.25vw;
            .inner {
              background: $gray;
              padding: 0.5vw 2vw;
              display: flex;
              justify-content: center;
              align-items: center;
              > div {
                font-size: 4.5vw;
              }
              .colored {
                color: #03a0de;
              }
            }
            > div {
              margin-top: 0.25vw;
              font-size: 1vw;
              text-transform: uppercase;
              text-align: left;
            }
          }
        }
        .date {
          width: 100%;
          font-family: $font-paragraph;
          font-size: 1.25vw;
          text-align: center;
          margin-top: 2vh;
          color: $white;
          background: transparent;
          border: none;
          outline: none;
          > input {
            width: 21vw;
            text-align: left;
          }
        }
      }

      .Canada {
        background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/1280px-Flag_of_Canada.svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 64px;
        width: 128px;
        position: absolute;

        &.Canada1 {
          top: 30vh;
          left: 150vw;
          animation: canada1 50s infinite linear;
          @keyframes canada1 {
            from {
              transform: translateX(0) translateY(-10vh);
            }
            to {
              transform: translateX(-250vw) translateY(50vh);
            }
          }
        }
        &.Canada2 {
          top: 40vh;
          left: 150vw;
          animation: canada2 60s infinite linear;
          @keyframes canada2 {
            from {
              transform: translateX(0) translateY(40vh);
            }
            to {
              transform: translateX(-250vw) translateY(-30vh);
            }
          }
        }
      }
    }
  }
}
