@import url("https://fonts.googleapis.com/css?family=Hind:400,700|Open+Sans:400,700");

$white: rgb(255, 255, 255);
$white-hover: rgb(205, 205, 205);
$black: rgb(0, 0, 0);
$gray: rgba(0, 0, 0, 0.3);
$orange: rgb(254, 205, 24);
$blue: rgb(33, 90, 175);
$light-blue: rgb(62, 189, 218);
$blue-gradient: linear-gradient(to top right, $blue, $light-blue);

$font-default: sans-serif;
$font-paragraph: "Open Sans", sans-serif;
$font-head: "Hind", "Open Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font-paragraph;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;

  #root {
    width: 100%;
    height: 100%;

    .App {
      position: relative;

      > svg {
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        g#loop {
          g#sun {
            transform-origin: 95.5% 15.5%;
            animation: sun 20s infinite linear;
            @keyframes sun {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(-360deg);
              }
            }
          }
          > g#cloud {
            animation: cloud 70s infinite linear;
            @keyframes cloud {
              from {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  1000,
                  0,
                  0,
                  1
                );
              }
              to {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  -2000,
                  0,
                  0,
                  1
                );
              }
            }
          }
          > g#mountains {
            animation: mountains 80s infinite linear;
            @keyframes mountains {
              from {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1
                );
              }
              to {
                transform: matrix3d(
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  0,
                  0,
                  0,
                  1,
                  0,
                  -1400,
                  0,
                  0,
                  1
                );
              }
            }
          }
        }
        g#plane {
          animation: plane 4s infinite linear alternate;
          @keyframes plane {
            from {
              transform: matrix3d(
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1
              );
            }
            to {
              transform: matrix3d(
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                0,
                0,
                0,
                1,
                0,
                -10,
                -10,
                0,
                1
              );
            }
          }
        }
      }
      .Countdown {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        z-index: 2;
        .title {
          font-family: $font-head;
          font-weight: 700;
          font-size: 5vw;
          text-align: center;
          color: $white;
          background: transparent;
          border: none;
          outline: none;
        }
        .Clock {
          display: flex;
          justify-content: center;
          .outer {
            margin: 0 0.25vw;
            .inner {
              background: $gray;
              padding: 0.5vw 2vw;
              display: flex;
              justify-content: center;
              align-items: center;
              > div {
                font-size: 4.5vw;
              }
              .colored {
                color: #f6b84d;
              }
            }
            > div {
              margin-top: 0.25vw;
              font-size: 1vw;
              text-transform: uppercase;
              text-align: left;
            }
          }
        }
        .date {
          width: 100%;
          font-family: $font-paragraph;
          font-size: 1.25vw;
          text-align: center;
          margin-top: 2vh;
          color: $white;
          background: transparent;
          border: none;
          outline: none;
          > input {
            width: 21vw;
            text-align: left;
          }
        }
      }
      .Canada:nth-child(2) {
        background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/1280px-Flag_of_Canada.svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 64px;
        width: 128px;
        position: absolute;
        top: 0;
        left: 0;
        animation: canada1 30s infinite linear;
        @keyframes canada1 {
          from {
            transform: matrix3d(
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              3000,
              500,
              0,
              1
            );
          }
          to {
            transform: matrix3d(
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              -3000,
              -300,
              0,
              1
            );
          }
        }
      }
      .Canada:nth-child(3) {
        background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/1280px-Flag_of_Canada.svg.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 64px;
        width: 128px;
        position: absolute;
        top: 0;
        left: 0;
        animation: canada2 34s infinite linear;
        @keyframes canada2 {
          from {
            transform: matrix3d(
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              2000,
              0,
              0,
              1
            );
          }
          to {
            transform: matrix3d(
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              0,
              0,
              0,
              1,
              0,
              -2000,
              1000,
              0,
              1
            );
          }
        }
      }
    }
  }
}
